body{
    display: flex;
    justify-content: center;
    background: rgb(121, 206, 118);
    background-position: center;
    background-size: cover;     
   
}

.quiz {
    display: block;
    justify-items: center;
    border: 2px solid;
    background-color: rgb(240, 240, 125);
    width: 60%;
    height: 400px;
    margin-top: 80px;
    padding: 10px;
}

.quiz h2 {
    font-size: 30px;
    color: grey;
    text-shadow: 2px 2px white    
}









